dicts/
huntest.aff
huntest.dic
iswiktionary-latest-pages-articles.xml
iswiktionary-latest-pages-articles.xml.bz2
iswiktionary-latest-pages-articles.xml.texts
libreoffice-tmp/
mozilla-tmp/
debian-tmp/
wiktionary.aff
wiktionary.dic
wiktionary.extracted
wordlist.diff
sed*
diff-dic1
*~
hunspell-is_*.deb
hunspell-is_*.dsc
hunspell-is_*.tar.gz
hunspell-is_*.changes
