dicts/
huntest.aff
huntest.dic
iswiktionary-latest-pages-articles.xml
iswiktionary-latest-pages-articles.xml.bz2
iswiktionary-latest-pages-articles.xml.texts
libreoffice-tmp/
mozilla-tmp/
wiktionary.aff
wiktionary.dic
wiktionary.extracted
wordlist.diff
sed*
diff-dic1
*~
