Source: hunspell-is
Section: text
Priority: optional
Maintainer: Björgvin Ragnarsson <nifgraup@gmail.com>
Build-Depends: debhelper (>= 7), bzip2, gawk, bash (>= 4.1), ed, coreutils (>= 8.5), make (>= 3.81), hunspell, libmythes-dev
Standards-Version: 3.9.3

Package: hunspell-is
Architecture: all
Depends: ${misc:Depends}
Suggests: hunspell
Provides: hunspell-dictionary, hunspell-dictionary-is
Section: text
Priority: optional
Homepage: https://github.com/nifgraup/hunspell-is#readme
Description: Icelandic dictionary for hunspell
 This is the Icelandic dictionary for use with the hunspell spellchecker
