Source: hunspell-is
Section: text
Priority: optional
Maintainer: Björgvin Ragnarsson <nifgraup@gmail.com>
Build-Depends: debhelper (>= 8), dictionaries-common-dev (>= 1.11.2), bzip2, gawk, bash (>= 4.1), ed, coreutils (>= 8.5), make (>= 3.81), hunspell, libmythes-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/nifgraup/hunspell-is
Vcs-Git: git://github.com/nifgraup/hunspell-is.git
Homepage: https://github.com/nifgraup/hunspell-is#readme

Package: hunspell-is
Architecture: all
Provides: hunspell-dictionary, hunspell-dictionary-is
Depends: ${misc:Depends}, dictionaries-common (>= 1.1)
Suggests: hunspell,
 libreoffice-core,
 iceweasel | icedove | iceape-browser
Description: Icelandic dictionary for hunspell
 This is the Icelandic dictionary for use with the hunspell spellchecker. It
 provides spell checking capabilities in software such as Firefox and
 LibreOffice.
 .
 The spell checker is build from two sources, a wordlist and words from the
 Icelandic Wiktionary with morphological information. The wordlist was
 released into the public domain in the early nineties by Orðabók Háskóla
 Íslands & Reiknistofnun Háskóla Íslands.
